*{
  box-sizing: border-box;
}

/*-------------------------Gabriel CSS-------------------------------*/
.header-nav {
  width: 100%;
  height: 10em;
  background-color: #ac664d;
}

.custom-logo {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.div-nav,
.div-footer {
  display: flex;
  justify-content: center;
}

.custom-nav {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.custom-nav a {
  color: #3a0603;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s, border-radius 0.3s;
  padding: 2px;
}
.custom-nav a:hover{
  border-radius: 30px;
  background-color: gray;
}

.footer-nav {
  background-color: #ac664d;
}

.div-footer {
  padding-top: 20px;
}

.contain-redes {
  display: flex;
  width: 100%;
  justify-content: center;
}

.contain-redes a {
  margin: 20px;
  transition: transform 0.3s;
}
.contain-redes a:hover{
  transform: scale(1.2);
}


.members-text{
  text-align: center;
  width: 100%;
}

.main-index {
  padding: 50px;
  text-align: center;
  background-color: #ffffffbe;
  color: black;

}

/*--------------Carrusel-----------------*/
.carousel-container {
  position: relative;
  max-width: 800px;
  /* Ajusta el ancho del carrusel */
  margin: auto;
}

.carousel {
  display: flex;
  overflow: hidden;
}

.slide {
  flex: 0 0 100%;
}

.slide img {
  width: 100%;
  height: auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  /* Ajusta el tamaño de los botones */
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.dot-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  /* Ajusta el tamaño de los indicadores */
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
}

.active {
  background-color: #717171;
}



/*-------------------------Leonel CSS-------------------------------*/

.body-index,
.body-products,
.body-nosotros,
.body-trabaja {
  padding: 0;
  margin: 0;
  background-image: url(/img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Montserrat';
}

.container-products {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.745);
}

.element {

  width: 17em;
  height: 300px;
  margin: 20px;
  border: 1px solid black;
  box-shadow: 5px 5px 8px black;
  text-align: center;
  border-radius: 30px;
  overflow: hidden;
  background-color: white;
}

.element hr {
  width: 90%;
}

.element p {
  font-size: 1.3em;
}

.element .price {
  color: limegreen;
  font-weight: bold;
  margin: 5px;
}

.img-coffee-card img {
  width: 100%;
}

/*----------------------  Celular ----------------------*/

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .container-products {
    height: auto;
  }
  /*cabezera*/
  .header-nav{
    height: 110px;
  }
  .custom-logo{
    width: 100%;
    height: 50%;
  }
  .img-lado{
    width: 1.6em;
  }
  .img-medio{
    width: 4em;
  }
  .custom-nav{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
  }
  .custom-nav a{
    font-size: 0.7em;
  }

  .element {
    width: min-content;
    height: min-content;
  }

  .img-coffee-card{
    width: 9em;
  }

 .element p {
    font-size: 1em;
  }
}

/*----------------------  Tablet ----------------------*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .header-nav{
    height: 7em;
  }
  .custom-logo {
    width: 100%;
    height: 50%;
  }
  .img-lado {
    width: 1.6em;
  }
  .img-medio {
    width: 4em;
  }
  .custom-nav {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
  }
  .custom-nav a {
    font-size: 0.7em;
  }
  .element {
    width: min-content;
    height: min-content;
  }
  .img-coffee-card {
    width: 9em;
  }
  .element p {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1024px){
  .div-nav .custom-nav{
    width: 70%;
  }
}

/*-------------------------Ignacio CSS-------------------------------*/


.about-section-nosotros {
  padding: 50px;
  text-align: center;
  background-color: #ffffffbe;
  color: black;
  font-family: 'Montserrat';
}

.main-nosotros {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.text-section-nosotros {
  padding: 50px;
  text-align: center;
  background-color: #ffffffbe;
  color: black;
  font-family: 'Montserrat';
  position: relative;
  height: 450px;
}
/*-------------------------Ely CSS-------------------------------*/
.main-trabaja {
  padding: 50px;
  text-align: center;
  background-color: #ffffffbe;
  color: black;
}
.bac{
  display: flex;
  justify-content: center;
}

fieldset {
  border-width: 2px; /* Grosor de la línea */
  border-color: gray; /* Color de la línea */
  width: 60%;
}

/*-------------------------------------------------------------------*/