*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.menu{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-around;
    background: url(../imagenes/fondo-productos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.elemento{ 
    width: 40vh;
    height: 400px;
    margin: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 8px black;
    text-align: center;
    border-radius: 30px;
    overflow: hidden;
    background-color: white;
}

.elemento hr{
    width: 90%;
}
.elemento p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.elemento .precio{
    color: limegreen;
    font-weight: bold;
    margin: 5px;
}

@media screen and (min-width: 0px){
    .menu{
        height: 410vh;
    }
    .elemento{
        height: 280px;
    }
}
@media screen and (min-width: 375px){
    .menu{
        height: 410vh;
    }
    .elemento{
        height: 280px;
    }
}
@media screen and (min-width: 425px){
    .menu{
        height: 415vh;
    }
    .elemento{
        height: 285px;
    }
}
@media screen and (min-width: 768px){
    .menu{
        height: 210vh;
    }
    .elemento{
        height: 280px;
    }
}
@media screen and (min-width: 1024px){
    .menu{
        height: 155vh;
    }
    .elemento{
        height: 275px;
    }
}
@media screen and (min-width: 1245px){
    .menu{
        height: 100vh;
    }
    .elemento{
        height: 280px;
    }
}
@media screen and (min-width: 1280px){
    .menu{
        height: 100vh;
    }
    .elemento{
        height: 300px;
    }
}



.imagen img{
    width: 100%;
}

